* {
  box-sizing: border-box;
}

input:focus {
  outline: 2px solid rgba(255, 255, 255, 0.514);
  border: 2px solid rgba(255, 81, 0, 0.89);
}

body {
  background: linear-gradient(to right, #f3cb1b, #ff6600);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 75vh;
  border: 1px solid rgba(255, 72, 0, 0.89);
  border-radius: 5px;
  padding: 1rem 2rem;
}

.search-container {
  height: 75vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input,
.search-container .suggestions {
  background-color: rgba(255, 255, 255, 0.5);
}

.search-container .suggestions {
  position: absolute;
  width: 35.45%;
  top: 40.7%;
  left: 32.3%;
  max-height: 16rem;
  overflow-y: scroll;
}

ul {
  margin: auto 0;
  list-style-type: none;
  padding-left: 0;
}

li {
  color: black;
  padding: 1rem;
}

ul li:hover {
  cursor: pointer;
  background-color: #fa5118;
}